/* Write your CSS here */
.course-timeline-card,
.project-timeline-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.course-title,
.project-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.course-duration,
.project-duration {
  font-size: 16px;
  color: #888;
  margin-bottom: 10px;
}

.course-description,
.project-description {
  font-size: 18px;
  margin-bottom: 20px;
}

.tags-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.tag-item {
  background-color: #f1f1f1;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.tag-item:hover {
  background: linear-gradient(to right, skyblue, dodgerblue);
  color: white;
}
.project-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.project-link {
  color: #007bff;
  text-decoration: none;
}

.project-link:hover {
  text-decoration: underline;
}

.title-duration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .title-duration-container {
    flex-direction: row;
  }
}
